div.menu
  a.logo-link(
    hx-target="main"
    hx-get="/en-ca/content_index"
    hx-swap="show:window:top"
    hx-push-url="/en-ca"
    href="/en-ca"
    aria-label="Wonderflow Logo"
  )
    img(src='/img/svg/wonderflow.svg', width='160px', alt='Wonderflow Logo')
  span.logo-circle

  nav.navigation
    ul
      li
        a(
          hx-target="main"
          hx-get="/en-ca/content_index"
          hx-swap="show:window:top"
          hx-push-url="/en-ca"
          href="/en-ca"
        ) Home
      li
        a(
          hx-target="main"
          hx-get="/en-ca/content_approach"
          hx-swap="show:window:top"
          hx-push-url="/en-ca/approach"
          href="/en-ca/approach"
        ) Our Approach
      li
        a(
          hx-target="main"
          hx-get="/en-ca/content_workshops"
          hx-swap="show:window:top"
          hx-push-url="/en-ca/workshops"
          href="/en-ca/workshops"
        ) Workshops
      li
        a(
          hx-target="main"
          hx-get="/en-ca/content_about"
          hx-swap="show:window:top"
          hx-push-url="/en-ca/about"
          href="/en-ca/about"
        ) About
      li
        a(
          hx-target="main"
          hx-get="/en-ca/content_contact"
          hx-swap="show:window:top"
          hx-push-url="/en-ca/contact"
          href="/en-ca/contact"
        ) Contact
      li
        a.ml-lg-32(href="/fr-ca") Français
  div#hamburger
    div
    div
    div


//- Path: src/views/header.pug